<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
<!--    <link type="text/css" href="/static/jquery-ui/css/smoothness/jquery-ui-1.8.16.custom.css" rel="Stylesheet" />	
    <script type="text/javascript" src="/static/jquery-ui/js/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="/static/jquery-ui/js/jquery-ui-1.8.16.custom.min.js"></script> -->
    <title>{% block title %}Qurious{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="/static/main.css" />
    {% block extraheader %}{% endblock %}
  </head>
  <body>
  	  {% block content %}{% endblock %}
  </body>
</html>
